<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11787735223-1vo31ml4k2fdfq6brnc8pb5i9gtue8q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11787735223-1vo31ml4k2fdfq6brnc8pb5i9gtue8q8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11787735223-4bqee6bn0gpr82lekord6n5miour9o6m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoRZiq1Niy8Fv0Bl_WtJq4Qgi0XYUZ3sM</string>
	<key>GCM_SENDER_ID</key>
	<string>11787735223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plgworks.canary</string>
	<key>PROJECT_ID</key>
	<string>canary-3cb86</string>
	<key>STORAGE_BUCKET</key>
	<string>canary-3cb86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11787735223:ios:2615ea967897f3569bfd32</string>
	<key>DATABASE_URL</key>
	<string>https://canary-3cb86-default-rtdb.firebaseio.com</string>
</dict>
</plist>